html, body, .wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;  
        flex-flow: row wrap;
        background-color: grey;
}

.header { background: beige;}
.footer {background: beige;}
.article {background: lightgreen; padding: 5px;}
.aside {background: deepskyblue;}
.nav {background: deepskyblue;}

header, footer, nav, article, aside 
{
  border: 1px solid black;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 0.25em;
}

table
{
  width: 100%;
}

img{
  width: 40%;
  height: 50%;
  float: left;
  padding: 5px;
}

@media(min-width: 801px)
{
  .wrapper > * 
  {
    flex: 1 100%;
  }
  .header   {order: 1; height: 9%;}
  .nav      {order: 2; flex: 1; height: 75%}
  .article  {order: 3; flex: 4; height: 75%}
  .aside    {order: 4; flex: 1; height: 75%} 
  .footer   {order: 5; height: 9%;}
}

@media(max-width: 800px) {
  .wrapper  
  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    flex-direction: column; 
  }
  .header   {order: 1;}
  .article  {order: 2; height: 80%}
  .nav      {order: 3;}
  .aside    {order: 4;} 
  .footer   {order: 5;}
}